* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  color: #333;
  padding-bottom: 70px; /* height of footer */
}

/* ================= HEADER ================= */
.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #3eced3;
  text-align: center;
  padding: 15px;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
}

header .logo {
    font-size: 22px;
    font-weight: bold;
}

/* ================= MAIN CONTENT ================= */
/* Cards Section */
.cards-section {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 70px;
}

.card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    padding: 15px;
    text-align: center;
}
a{
    text-decoration: none;
}

.footer-logo {
  margin: 0;               /* REMOVE big margin */
  padding: 5px 0;          /* keep minimal */
  text-align: center;
  opacity: 0;
}

.footer-logo img {
  max-height: 80px;
}

/* visible */
.footer-logo.show {
  opacity: 1;
}

/* ================= FIXED FOOTER ================= */
.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #070016;
  border-top: 1px solid #ddd;
}

.site-footer nav {
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
}

.site-footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* ================= MOBILE ================= */
@media (max-width: 600px) {
  .logo {
    max-width: 300px;
  }

}
@media (max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header nav {
        margin-top: 10px;
    }

    /* 2 cards per row on mobile */
    .cards-section {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 20px;
    }

    .card img {
        height: 140px;
    }

    .card h3 {
        font-size: 14px;
        padding: 10px;
    }
}